:root {
    --primary-color: #0A0A0A;
    --secondary-color: #858585;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #011936;
    --quinary-color: #9FCC2E;
    --sextary-color: #EC4F46;
    --septary-color: #006edc;
}



@media only screen and (min-width: 768px) {


}


/* ------ desktop/laptop formatting -------- */ 

/* ------- Planner ---------- */ 

.report h1{
    font-size: 2em; 
    color: var(--quaternary-color);
}

.subcats button {
    background-color: var(--septary-color); 
    color: var(--tertiary-color);
}

.expected {
    display: flex;
    flex-direction: column;
}


.form-input {
    margin-bottom: 10px;
}
