:root {
    --primary-color: #0A0A0A;
    --secondary-color: #858585;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #011936;
    --quinary-color: #9FCC2E;
    --sextary-color: #EC4F46;
    --septary-color: #006edc;
}



@media only screen and (min-width: 768px) {


}


/* ------ desktop/laptop formatting -------- */ 

/* ------- Planner ---------- */ 

.report h1{
    font-size: 2em; 
    color: var(--quaternary-color);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

thead .maincats{
    color: var(--quaternary-color); 
    margin: 10%; 
    display: flex;
    justify-content: space-between;
}

.main1 .main2 .main3 {
    margin: 5%; 
    
}
.subcats button {
    background-color: var(--septary-color); 
    color: var(--tertiary-color);
}

.expected {
    display: flex;
    flex-direction: column;
}


.form-input {
    margin-bottom: 10px;
}
