:root {
    --primary-color: #0A0A0A;
    --secondary-color: #858585;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #011936;
    --quinary-color: #9FCC2E;
    --sextary-color: #EC4F46;
    --septary-color: #475FD7;
}


/* -------- Navbar Styling ---------- */
.navbar {
    background-color: var(--tertiary-color);
    display: flex; 
}

.nav-list {
    justify-content: space-between;
}

.link-text {
    color: var(--quaternary-color); 
}

.navbar img {
    width: 15%; 
    height: auto; 
}

/* -------- Header Styling ------- */
.header {
    background-color: var(--quinary-color);
    color: var(--tertiary-color); 
}


/* ------- Footer Styling ------- */ 
.footer {
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
}